@import "../../../custom/backend/tailwind/admin.css";
@config "./tailwind.config.js";

@tailwind components;

/**
 * Empty CKeditor longtext fields are quite narrow and don't indicate clearly
 * enough that they are input fields.
 */
.ck-editor__editable_inline {
  min-height: 10rem;
}
/**
 * Fixes for CKeditor inside modal dialog
 */
.ui-dialog .ck-editor__editable_inline {
  max-height: calc(90vh - 19rem);
}
.ck-body-wrapper {
  --ck-z-modal: 1261;
}
/**
 * Reduce clutter from disabled style in style dropdown in CKeditor
 */
.ck.ck-style-panel .ck-style-grid .ck-style-grid__button.ck-disabled {
  display: none;
}

/**
 * Layout paragraphs add components form inside dialog box
 */
:where(.lpb-dialog) .lpb-component-list {
  padding: var(--gin-spacing-l) 0;
}
:where(.lpb-dialog) .lpb-component-list-search-input {
  width: 100%;
  box-sizing: border-box;
}

/**
 * Fix design of close icon in admin modals
 */
.js-lpb-region > a.lpb-btn--add:first-child:last-child {
  opacity: 1;
}
/**
 * Fix design of close icon in admin modals
 */
.ui-dialog-titlebar .ui-button {
  padding: 0;
}

/**
 * Enlarge Layout Paragraphs dialogs
 */
.lbp-dialog {
  min-width: 600px !important;
}
@media (min-width: 479px) {
  .lbp-dialog {
    min-width: 400px;
  }
}

/**
 * Visual clues in admin interface for unpublished and seasonal paragraphs
 */
.paragraph--unpublished {
  background-color: #fda4af;
}
.paragraph--season--summer {
  background-color: #86efac;
}
.paragraph--season--winter {
  background-color: #7dd3fc;
}
.paragraph--season--summer.paragraph--unpublished {
  background-image: repeating-linear-gradient(
    45deg,
    #fda4af,
    #fda4af 10px,
    #86efac 10px,
    #86efac 20px
  );
}
.paragraph--season--winter.paragraph--unpublished {
  background-image: repeating-linear-gradient(
    45deg,
    #fda4af,
    #fda4af 10px,
    #7dd3fc 10px,
    #7dd3fc 20px
  );
}

/**
 * Our layout wrappers have an overflow-x-hidden (due negative margins on area layout gap),
 * this fixes the cut outline when hovering regions in the admin theme.
 */
:where(.field--widget-layout-paragraphs) .lpb-controls:not(.is-layout) {
  top: 1px;
  left: 1px;
  color: var(--gin-color-text-light);
}
:where(.field--widget-layout-paragraphs) .js-lpb-region,
:where(.field--widget-layout-paragraphs) .js-lpb-component,
:where(.field--widget-layout-paragraphs) .js-lpb-component:focus-within {
  outline-offset: -1px;
}

/**
 * Restyle layout selection
 */
.layout-select {
  align-items: stretch;
  gap: 10px;
}
.layout-select__item {
  flex: 0 0 120px;
  margin: 0 !important;
}
.layout-select__item label.option {
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
}
.layout-select__item-icon {
  margin-right: 0;
}
.layout-select__item-icon img {
  width: 100%;
  height: auto;
}
/**
 * Prevent scrollbars in admin UI
 */
:where(.field--widget-layout-paragraphs) .width-wrapper {
  padding-top: 4px;
  padding-bottom: 4px;
}

/**
 * Fix clashes between Chosen and Gin.
 */
.chosen-container:not(#dummy_override_gin_important_style) {
  width: 100% !important;
}
.chosen-container:not(.chosen-dropup).chosen-with-drop .chosen-drop {
  left: 0;
  top: calc(100% + 2px);
  padding-top: 4px;
}

.chosen-search-input {
  padding: 0 !important;
}

/**
  * Used by help texts to indicate "click button" or "press key",
  * e.g. "To create new content, click the <kbd>Add section</kbd> button."
  */
kbd {
  margin: 0 0.1em;
  border-radius: 0.25em;
  padding: 0.05em 0.25em;
  box-shadow: inset 0.075em 0.075em 0.1em 0 rgba(0,0,0,0.5), inset -0.075em -0.075em 0.1em 0 rgba(0,0,0,0.75);
}
/**
  * Remove any outlines from views exposed form in admin theme,
  * because it is wrapped inside a <details> element to save screen space
  */
.claro-details > .claro-details__summary + .views-exposed-form {
  border: 0 none !important;
  padding-bottom: 0 !important;
  box-shadow: none !important;
}

/**
  * Form inputs provide a better visual structure when using full width.
  */
.form-element:where(:not(.form-element--type-select--small, select[data-drupal-selector=edit-action])) {
  width: 100%;
}

:where(.webform-element--title-inline) .form-element {
  width: auto;
}


/**
  * Field UI settings icon invisible in Gin
  */
.field-plugin-settings-edit {
  width: auto;
}

/**
  * Remove Gin styling.
  */
.form-item__description, .fieldset__description {
  max-width: none;
}

/**
  * Drupal messages inside layout paragraphs dialog box
  */
:where(.layout-paragraphs-component-form) > .messages-list {
  margin-top: var(--space-m);
}

:where(.ui-dialog) .media-library-wrapper {
  margin-top: 0;
}

/**
  * Style links (linkblock & icon) in layout builder
  */
.field--type-link .field__label ~ .field__item > .link-item {
  display: inline-flex;
  flex-flow: row wrap;
  row-gap: 0.25em;
  column-gap: 1em;
}

/**
  * numeric fields with prefix/suffix
  */
.form-type--number {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.form-type--number > label {
  flex: 0 0 100%;
}
.form-type--number > input {
  flex: 1 1 1%;
}
.form-type--number > .form-item__prefix, .form-type--number > .form-item__suffix {
  flex: 0 0 auto;
  white-space: nowrap;
}
.form-type--number > .form-item__prefix {
  margin-right: var(--space-xs);
}
.form-type--number > .form-item__description {
  flex: 0 0 100%;
}


/**
  * Webforms
  */
.webform-submission-form .form-item {
  box-sizing: border-box;
}
.webform-submission-form > .form-item{
  margin: 0;
}

/**
  * field cardinality module
  */
.form-type--select.form-item--cardinality {
  vertical-align: top;
}

.field--entity--paragraph.field--bundle--gallery.field--name--field_images,
.field--entity--paragraph.field--bundle--linkblock.field--name--field_images,
.field--entity--node.field--name--field_images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(120px, 100%), 1fr));
  gap: 5px;
}

/**
  * layouts with fixed height
  */
[class*=component--grid].paragraph--type--image .field img,
[class*=component--grid].paragraph--type--icon .field img,
[class*=component--grid].paragraph--type--icon .field svg,
[class*=component--grid].paragraph--type--linkblock .teaserable-image-container img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

article.media[class*=aspect] {
  aspect-ratio: unset;
}
/**
  * Tailwind's default block class is disabled by configuration to prevent issues with Drupal's block class.
  * This is an alias for the Tailwind block utility class.
  */
.display-block {
  display: block;
}
