@config "./tailwind.gin.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /**
   * Remove any outlines from views exposed form in admin theme,
   * because it is wrapped inside a <details> element to save screen space
   */
  .claro-details > .claro-details__summary + .views-exposed-form {
    border: 0 none;
    padding-bottom: 0;
    box-shadow: none;
  }

  /**
   * Form inputs provide a better visual structure when using full width.
   */
  .form-element {
    width: 100%;
  }

  /**
   * Empty CKeditor longtext fields are quite narrow and don't indicate clearly
   * enough that they are input fields.
   */
  .ck-editor__editable_inline {
    min-height: 10rem;
  }
}

@layer utilities {
  /**
   * Tailwind's default block class is disabled by configuration to prevent issues with Drupal's block class.
   * This is an alias for the Tailwind block utility class.
   */
  .display-block {
    display: block;
  }
}
