/**
 * Use our brand in the toolbar.
 */
.toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default::before {
  -webkit-mask-image: url(/modules/contrib/gin_custom/images/webtourismus_toolbar_icon.svg) !important;
  mask-image: url(/modules/contrib/gin_custom/images/webtourismus_toolbar_icon.svg) !important;
}
.toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default:hover,
.toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default:focus {
  --gin-color-primary: #d02f3d;
}

/**
 * Fix white BG on black toolbar
 */
 #toolbar-administration .toolbar-menu-administration a.is-active {
  background-color: var(--gin-bg-item-hover);
}
#toolbar-administration .toolbar-menu__trigger {
  background-color: var(--gin-bg-layer) !important;
}

/**
 * Better node preview toolbar
 */
@media (min-width: 641px) {
  .node-preview-form-select::after {
    color: yellow;
    content: 'Only preview, not yet saved';
  }
  html[lang=de] .node-preview-form-select::after {
    content: 'Nur Vorschau, noch nicht gespeichert';
  }
}
.node-preview-form-select .form-item-view-mode {
  display: none !important;
}
